.card-body{
    .card-text{
        text-align: start;
    }
}

.card-footer{
    .partition{
        color: black;
    }
    .icons{
        cursor: pointer;
    }
}

.card{
    box-shadow: 2px 2px 2px 2px grey;
    background-color: lightsteelblue;
    
    :hover{
        cursor: pointer;
    }
}
body{
    background-color: lightcyan;
}